/* Styling for ABOUT-ME page */
.aboutMe .para1 {
    margin-left:12px;
}

.aboutMe .para2 {
    margin-left:12px;
}

.animationText {
    color: blue;
    margin-left:12px;
    font-size: 25px;
    font-style:italic;
}

.passportImage{
    float: left;
    margin: 20px 10px 10px 10px;
    width: 15%;
    border: 3px solid #e64626;
    border-radius: 15px;
}

/* Styling for PORTFOLIO page */
.section-code {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-radius: 15px;
    margin: 10px;
}

.header-card {
    padding-top: 25px;
    padding-bottom: 5px;
    margin-left: 25px
}

hr {
    margin: 5px 0 !important;
}

.top-projects-completed li{
    font-size: 1.5em;
    line-height: 1.5;
    list-style: square;
    margin-left: 40px;
}

.anchorD {
    padding: 5px 30px;
    border: 1px solid #000000;
    border-radius: 8px;
    margin: 15px 20px;
    background-color: lightcyan;
}

.anchorR {
    padding: 5px 30px;
    border: 1px solid #000000;
    border-radius: 8px;
    margin: 15px 20px;
    background-color: lightgoldenrodyellow;
}

.singleItem {
    font-size: 18px;
}

/* .projects-completed li:hover {
    font-size: 1.75em;
    transition: all 0.5s ease-in-out;
    top:-2px;
    left:-2px;
} */

/* Styling for RESUME page */
.resume {
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    margin-right: 5px;
    margin-left: 5px;
}

.resume h5 {
    padding-top: 15px;
    margin-left:12px;
}

.resume .para {
    margin-left:12px;
    margin-right:10px;
    margin-bottom: 5px;
}

